// font-family: 'Pacifico', cursive;
// font-family: 'Poppins', sans-serif;

$font-path: "../assets/fonts";

@import "ionic.globals";
.body {
  font-family: 'Poppins', sans-serif;
}
.scroll-content {
  background-color: #e7efbc !important ;
  padding-top: 8px !important;
}
.toolbar {
  height: 50px !important;
  border-top: 3px solid #e7efbc !important;
  border-left: 3px solid #e7efbc !important;
  border-right: 3px solid #e7efbc !important;
  -webkit-box-shadow: 0px 6px 66px -16px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 6px 66px -16px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 6px 66px -16px rgba(0,0,0,0.75) !important;
}
.toolbar-background {
  background-color: #9fc2b7 !important;
  border-bottom: none !important;
}
.toolbar-title {
  font-family: 'Pacifico', cursive !important;
  font-size: 3rem !important;
  color: #f05033 !important;
  font-weight: normal !important;
}
.myid {
  padding-left: 14px;
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  color: #4f907b !important;
}
.top {
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
}
.owlIcon {
  height: 18vh;
  align-self: center;
}
.videoDiv{
  display: flex;
  justify-content: center;
  padding: 3%;
  border: .2px solid #f05033;
  background-color: #e7efbc;
}
.buttonDiv {
  display: flex;
  justify-content: space-around;
}
.video{

}
.item-block {
  background-color: #e7efbc !important;
}
.label {
  text-align: center;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #4f907b,
  secondary:  #9fa618,
  danger:     #f05033,
  light:      #e7efbc,
  dark:       #30281b
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
